* {
    margin: 0;
    padding: 0;
}
.home {
    height: 500px;
}
.navbar-brand {
    font-family: 'Montserrat';
    font-weight: 700;
}
.navbar-brand img{
    width: 40px;
    height: 60px;
}
.navbar-nav .logo img {
    width: 60px;
    height: 28px;
    
}

.content {
    margin-top: 150px;
}

.content .footer-title {
    font-size: 15px;
    font-family: 'Montserrat';
    font-weight: 700;
}

.content{
    overflow-y: hidden;
    width: 100%;
    text-align: start;
    
}

.content p {
    font-weight: 700;
}
.hole {
    overflow-x: hidden;
    padding: 20px 0;
    background-color: white;
    white-space: nowrap;
}
.logo-slide {
    display: inline-block;
    animation: 10s slide infinite linear;
}
.logo-slide img {
    height: 50px;
    margin: 0 30px;
}


/* animasi */
@keyframes slide {
    from {
        transform: translateX(0);
    }
    to {
        transform: translateX(-100%);
    }
}