* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.navbar-brand {
    font-family: 'Montserrat';
    font-weight: 700;
}
.navbar-brand img{
    width: 40px;
    height: 60px;
    box-sizing: border-box;
}
.navbar-nav .logo img {
    width: 60px;
    height: 28px;
    
}

.content img{
    display: flex;
    flex-direction: row;
    margin: 30px auto;
    width: 600px;
    height: 600px;
    border: 0px solid black;
}

.content p {
    margin-left: 370px;
}
.content-footer {
    margin-top: 150px;
}

.content-footer .footer-title {
    font-size: 15px;
    font-family: 'Montserrat';
    font-weight: 700;
}

.content-footer{
    overflow-y: hidden;
    width: 100%;
    text-align: start;
    
}

.content-footer p {
    font-weight: 700;
}